.product2-wrapper {
  color: white;
  position: relative;
  padding-bottom: 2rem;
  gap: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.product2-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  max-width: 600px;
}

.product2-right {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.product2-image > img {
  width: 400px;
  height: 400px;
  margin-left: 10px;
}

.product2-title h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-top: 1rem;
  text-align: left;
}
.product2-title>span {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-top: 1rem;
  text-align: left;
}

@media (max-width: 450px) {
  .product2-image > img {
    width: 200px;
    height: 200px;
  }
  .product2-image {
    margin-left: 50px;
  }

  .product2-title {
    width: 100%;
    max-width: 300px;
  }

  .product2-title h3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top: 1rem;
    text-align: center;
  }
  .product2-right {
    order: -1;
  }
}
