.App {
  position: relative;
  overflow-x: clip;
  background: #0c2842;
}
.grey-gradient {
  position: absolute;
  width: 705.83px;
  height: 620.23px;
  left: 1402.83px;
  top: -176px;
  background: #878480;
  filter: blur(100.5px);
  transform: rotate(38.23deg);
}
.red-gradient {
  position: absolute;
  width: 491px;
  height: 562px;
  left: 1205px;
  top: 827px;
  background: #7d0d0d;
  filter: blur(221.5px);
}
.grey-gradient2 {
  position: absolute;
  width: 501.61px;
  height: 609.16px;
  left: 19.98px;
  top: 190px;
  background: #878480;
  filter: blur(221.5px);
  transform: rotate(38.23deg);
}
.sky-gradient {
  position: absolute;
  width: 281px;
  height: 258px;
  left: 446px;
  top: 1035px;
  background: #0d627d;
  filter: blur(114px);
}
.grey-gradient3 {
  position: absolute;
  width: 1089px;
  height: 1140px;
  left: -503px;
  top: 1423px;
  background: #878480;
  filter: blur(245.5px);
}
.sky-gradient2 {
  position: absolute;
  width: 764px;
  height: 708px;
  left: 1046px;
  top: 2067px;
  background: #2b8ec6;
  filter: blur(122px);
}
.red-gradient {
  position: absolute;
  width: 491px;
  height: 562px;
  left: 1205px;
  top: 3047px;
  background: #7d0d0d;
  filter: blur(221.5px);
}
.sky-gradient2 {
  position: absolute;
  width: 764px;
  height: 708px;
  left: -503px;
  top: 4067px;
  background: #2b8ec6;
  filter: blur(122px);
}
@media (max-width: 420px) {
  .grey-gradient {
    position: absolute;
    width: 252.8px;
    height: 251.14px;
    left: 341.42px;
    top: -88px;
    background: #878480;
    filter: blur(50px);
    transform: rotate(38.23deg);
  }

  .red-gradient {
    position: absolute;
    width: 365px;
    height: 384px;
    left: 236px;
    top: 1250px;

    background: #7d0d0d;
    filter: blur(86.5px);
  }

  .grey-gradient2 {
    position: absolute;
    width: 241.53px;
    height: 284.85px;
    left: -20.72px;
    top: 439px;

    background: #878480;
    filter: blur(50px);
    transform: rotate(38.23deg);
  }

  .sky-gradient {
    position: absolute;
    width: 180px;
    height: 190px;
    left: 79px;
    top: 985px;

    background: #0d627d;
    filter: blur(50px);
  }

  .grey-gradient3 {
    position: absolute;
    width: 531px;
    height: 415px;
    left: -384px;
    top: 2100px;

    background: #878480;
    filter: blur(50px);
  }

  .sky-gradient2 {
    position: absolute;
    width: 507px;
    height: 662px;
    left: 186px;
    top: 2784px;

    background: #2b8ec6;
    filter: blur(122px);
  }

  .red-gradient2 {
    position: absolute;
    width: 439px;
    height: 378px;
    left: -292px;
    top: 3898px;

    background: #e13340;
    filter: blur(196px);
  }

  .sky-gradient3 {
    width: 300px;
    height: 300px;
    left: 50px;
    top: 3000px;
    filter: blur(100px);
    transform: none;
  }
  .grey-gradient,
  .red-gradient,
  .grey-gradient2,
  .sky-gradient,
  .grey-gradient3,
  .sky-gradient2,
  .red-gradient2,
  .sky-gradient3 {
    position: absolute;
    z-index: -1;
  }
}
